/* *{
    background-color: rgb(88, 84, 84);
} */

table {
    margin-left: 10%;
    margin-top: 250px;
    border: 2px solid rgb(240, 114, 4);
    background: #84827f;
    color: white;
    
    font-size: 18px;
    width: 80%;
    height: 50%;
    box-shadow: 8px 15px 32px #0f0f0f;
}
.tab{
    margin-left: 10%;
    margin-top: 250px;
    border: 2px solid rgb(237, 52, 10);
    background: #84827f;
    color: white;
    
    font-size: 18px;
    width: 80%;
    height: 50%;
    box-shadow: 8px 15px 32px #100f0f;
}
.liste {
    /* margin-top: 65px; */
    /* margin-left: 45%; */
    font-size: 16px;
    font-family: georgia;
    background-color: black;
    justify-content: space-around;
}
a{
    color: #D9870E;
}
.copyr {
    text-align: center;
    font-size: 30px;
    font-family: georgia;
    color: rgb(246, 91, 13);
    margin-top: 10px;
}
nav {
    display: flex;
    justify-content: left;
}
nav a {
    margin-left: 80px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
}
.text-center th {
    font-family: georgia;
    text-align: center;

}
td {
    font-size: 20px;
    color: rgb(243, 241, 241);
    font-family: georgia;
}
